*{
    margin: 0;
    padding: 0;
}
/* html{
    min-height: 100vw;
} */


.page{
    margin-top: 300px;
}
body {
    height: 100%;
    background: #fff;
    font-family: 'Montserrat', Arial, Verdana, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    color: #313131;
    opacity: 1;
}
a:not([class]){
    color: #fff;
    text-decoration: none;
}
ul,li{
    list-style-type: none;
}
h1,h2,h3,h4{
    font-size: 100%;
}
h3{
    font-size: 21px;
}
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
select{
    /* -moz-appearance: none; */
    /* -webkit-appearance: none; */
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    font-size: 18px;
    padding: 5px;
    padding-right: 40px;
}
select option:hover{
    background-color: #7f0015;
}
input{
    border: none;
    position: relative;
    outline: none;
    font-size: 18px;
}
option{
    cursor: pointer;
}
label a{
    color: #fff;
    transition: all .2s;
}
label a:hover{
    color: #ec004f;
    text-decoration: none;
}
.email a{
    font-size: 21px;
    transition: all .2s;
}
.email a:hover{
    color: #ec004f;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.wofff') format('woff');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Black.woff2') format('woff2'), url('../fonts/Montserrat-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
    font-display: swap;
}
.global_wrapper{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

.row{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.section_title{
    text-transform: uppercase;
    color: #00507f;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

.main_btn{
    display: inline-block;
    padding: 0 20px;
    max-width: 217px;
    white-space: nowrap;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f70b5a;
    transition: background-color .3s, color .3s;
    position: relative;
    line-height: 40px;
    font-weight: 700;
    overflow: hidden;
    z-index: 1;
}
.main_btn::before{
    content: '';
    display: block;
    position: absolute;
    align-items: center;
    width: 0;
    height: 100%;
    background-color: #5c0421;
    top: 0;
    left: 0;
    transition: width .3s;
    z-index: -1;
}
.main_btn:hover:before{
    width: 100%;
}

.main_header{
    width: 100%;
    padding: 23px 0;
    background-color: #00507f;
}
.main_header-left_col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    max-width: 233px;
}
.logo img{
    width: 100%;
}
.block_address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
}
.main_header-center_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main_header-right_col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.block_connection{
   display: flex;
   flex-direction: column;
   white-space: nowrap;
   position: relative;
   padding-left: 45px;
   align-items: flex-end;
   /* margin-right: 14px; */
}
.number_phone{
    display: flex;
    gap: 20px;
    align-items: center;
}
.phone_handset::before{
    content: '\1F57B';
    display: block;
   font-size: 40px;
   color: #fff;
   margin-bottom: 5px;
   transform: rotate(-45deg);
}
.ico-phone{
    width: 35px;
    height: 35px;
}
.ico-phone{
    content: '';

}
.block_connection a{
    font-size: 24px;
    transition: .2s;
}
.block_connection a:hover{
    color: #f70b5a;
}
/* .social_media li{
    flex: 50% 0 0;
    max-width: 38px; 
} */
.flex_phone{
    display: flex;
    flex-direction: column;
}
.social_media li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    color: inherit;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f70b5a;
    transition: background .3s;
}
.social_media li a:hover{
    background-color: #88032f;
}
.ico_telegram::after{
    content: '';
}
.social_media li a img{
    width: 60%;
}
.social_media{
    display: flex;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* margin-bottom: 20px; */
    /* max-width: 89px; */
    max-height: 89px;
    /* margin-left: 60px; */
    gap: 15px;
}
.social_vertical_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapp_btn_head{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.wrapp_btn_head button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.wrapp_btn_head a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.wrapp_btn_head .go_calculator{
    background-color: #ffe200;
    color: #00507f;
    transition: background-color .3s, color .3s;
    position: relative;
    overflow: hidden;
    min-width: 180px;
    z-index: 1;
}
.wrapp_btn_head .go_calculator::before{
    content: '';
    display: block;
    position: absolute;
    align-items: center;
    width: 0;
    height: 100%;
    background-color: #5e5405;
    top: 0;
    left: 0;
    transition: width .3s;
    z-index: -1;
}
.wrapp_btn_head .go_calculator:hover:before{
    width: 100%;
}
.wrapp_btn_head .go_calculator:hover{
    color: #fff;
}
.burger_box{
    display: none;
    /* position: absolute;
    right: 8%;
    top: 50%; */
    margin-left: 50px;
    height: 40px;
    align-items: center;
    /* transform: translate(50%, -50%); */
}
.burger{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
}


.burger::before{
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    top: -9px;
    position: relative;
}
.burger::after{
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    top: 5px;
    position: relative;
}
.head_nav_panel{
    width: 100%;
    background-color: #66b3e2;
}
.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
.navigation_wrapp .nav_menu .is-active{
    color: #ec004f;
}
 
.navigation_wrapp .nav_item{
    padding: 16px;
    transition: background .35s;
    white-space: nowrap;
}

.nav_menu .nav_item:hover{
    background-color: #00507f;
    height: auto;
    cursor: pointer;
}
.nav_menu li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}
.main_content{
    flex: 1 0 auto;
    
}
.banner_section{
    height: 532px;
    width: 100%;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    z-index: -1;
}
/* .flex_banner{
    transition;
} */
.banner_hide{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.banner_show{
    opacity: 1;
    position: static;
}
.banner_info_block{
    width: 700px;
    height: 360px;
    background-color: #fff;
    transform: skew(-20deg);
}
.border_info_block{
    width: 95%;
    height: 90%;
    border: 2px dashed #ec004f;
    margin-left: 2.5%;
    margin-top: 2.5%;
}
.banner_flex_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.dropdown-menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #edf7ff;
    color: #66b3e2;
    text-transform: uppercase;
    padding: 16px 30px;
    cursor: auto;
    top: 53px;
    left: 0;
    transform: scaleY(0);
    transform-origin: left top;
    transition: transform .35s;
    gap: 20px;
}
.dropdown-menu .submenu_title{
    font-weight: 700;
}
.dropdown-menu ul li::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #66b3e2;
    margin-top: 6px;
}
.dropdown-submenu li a{
    padding-right: 0;
    font-weight: 400;
}
.nav_item_hover{
    position: relative;
}
.nav_item_hover a{
    position: relative;
}
.nav_menu .nav_item_hover a{
    margin-right: 5px;
}
.nav_menu .parent::after{
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    top: -3px;
    bottom: 0;
    margin: auto;
    right: 10px;
    transform: rotate(45deg);
}
.nav_menu .nav_item_hover:hover > .dropdown-menu{
   transform: scaleY(1);
}
.nav_item_hover .dropdown-menu a{
    margin-right: 0;
}
.dropdown-menu hr{
    border: 1px solid #66b3e2;
    margin: 0;
}
.dropdown-menu ul li{
    margin: 9px 0;
}
.dropdown-menu ul li a{
    text-transform: none;
    color: #66b3e2;
    line-height: 15px;
    transition: color .35s;
}
.dropdown-menu ul li a:hover{
    color: #00507f;
}
.submenu{
    padding: 0 10px;
}
.advantage_section{
    background-color: #edf7ff;
    padding: 63px 0 50px;
}
.advantage_descr{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.item_circle{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 190px;
    text-align: center;  
}
.item_circle span{
    font-size: 21px;
    font-weight: 700;
}
.img-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #ed0050;
    border-radius: 50%;
    border-style: dotted;
    margin-bottom: 30px;
}

/* product-card */
.wrapp_product_tab .show{
    opacity: 1;
    position: static;
    margin-top: 60px;
    transition: opacity 1s;
}
.wrapp_product_tab .hide{
    opacity: 0;
    position: absolute;
    z-index: -10;
}
.product_card_section{
    padding: 60px 0;
}
.wrapp_product_tab{
    padding: 60px 0 0;
}
.tab_product_card{
    display: flex;
    justify-content: space-between;
}
.tab_product_card .is-active{
    border-color: #ec004f;
    color: #ec004f;
}
.product_item_circle{
    width: 120px;
}
.tab_circle{
    overflow: hidden;
    border-style: solid;
    max-width: 90px;
    max-height: 90px;
    border: 2px solid #00507f;
    margin-bottom: 15px;
    cursor: pointer;
}
.tab_circle .stroke{
    border-radius: 50%;
    overflow: hidden;
    max-width: 84px;
    max-height: 84px;
}
.product_name{
    text-transform: uppercase;
    color: #00507f;
    font-size: 16px !important;
    letter-spacing: -1px;
    font-weight: 500 !important;
    white-space: nowrap;
}
.tab_circle .stroke img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}
.block_descr_product_card{
    display: flex;
    margin-top: 60px;
}
.title_product_flex{
    display: flex;
    justify-content: space-between;
}
.block_descr_product_card .section_title{
    text-align: left;
    font-size: 21px;
}
.pruduct_photo{
    min-width: 460px;
    max-height: 400px;
    cursor: pointer;
}
.pruduct_photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.product_descr{
    padding-left: 30px;
}
.product-card_label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    color: #00507f;
    font-weight: 700;
    white-space: nowrap;
    letter-spacing: -1px;
}
.product-card_label .sale_one{
    background-color: #ffe200;
    max-width: 210px;
    padding: 5px 12px;
    margin-bottom: 5px;
}
.product-card_label .sale_two{
    background-color: #66b3e2;
    max-width: 125px;
    padding: 5px 12px;
}
.text_descr{
    margin: 30px 0;
}
.product-card_price{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 35px;
}
.product-card_new-price{
    color: #ed0050;
}
/* end product-card */

/* calc-section */
.calc-content{
    background-color: #66b3e2;
    padding: 60px 45px;
}
.calc_container_form{
    display: flex;
    justify-content: space-around;
}
.calc_form .section_title{
    margin-bottom: 50px;
}
.calc_form h3{
    color: #000000;
}
.calc_form label{
    margin-bottom: 7px;
    font-weight: 500;
}
.calc_form .checkbox_label{
    display: flex;
    align-items: flex-start;
}
.group_name_phone label{
    color: #fff;
}
.checkbox_text{
    font-size: 14px;
}
.col_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col_two_form{
    margin-top: 95px;
}
.title_info{
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 25px;
}
.final_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00507f;
    color: #fff;
    font-weight: 500;
    padding: 30px 30px;
    margin-top: 25px;
}
.final_price_title{
    font-size: 21px;
}
.final_sum{
    font-size: 28px;
}
.form_group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.form_group .form_control{
    height: 30px;
    width: 200px;
    padding: 2px 10px;
}
.form_group select{
    height: 30px;
    width: 220px;
}
.group_ident{
    margin-bottom: 30px;
}
.select_wrapper{
    /* display: flex;
    align-items: center;
    position: relative;
    max-width: 220px; */
}

.button{
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #00507f;
    position: absolute;
    right: 2px;
    cursor: pointer;
    z-index: 1; */
}
.button::after{
    /* content: '';
    display: block;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg); */
}
.application_form_title{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
}
.application_form_title small{
    text-transform: lowercase;
}
.group_name_phone{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.group_name_phone .main_btn{
    margin-top: 20px;
}
.choices{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 220px;
    height: 35px;
}
.choices__inner{
    padding: 0;
    min-height: 30px;
    font-size: 18px;
}
.choices[data-type*=select-one] .choices__inner{
    padding-bottom: 0;
}
.choices__list--dropdown, .choices__list[aria-expanded]{
    width: 220px;
}
.choices__list--single{
    width: 220px;   
}
.choices[data-type*=select-one]::after{
    content: "";
    width: 5px;
    height: 5px;
    border-style: solid;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-width: 0 0 2px 2px;
    position: absolute;
    right: 11.5px;
    top: auto;
    margin-top: -2.5px;
    transform: rotate(-45deg);
    pointer-events: none;
}
.choices[data-type*=select-one].is-open::after{
    top: 60%;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-width: 0 0 2px 2px;
    transform: rotate(135deg);
    
}
.choices[data-type*=select-one]::before{
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #00507f;
    position: absolute;
    right: 2px;
    cursor: pointer;
}
.choices__list--dropdown .choices__list .choices__item{
    font-size: 18px;
}
.choices__list--dropdown .choices__list .choices__item:hover{
    background-color: #00507f;
    color: #fff;
}
.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list{
    max-height: 250px;
}
.choices__list::-webkit-scrollbar{
    width: 5px;
}
.choices__list::-webkit-scrollbar-track{
    background-color: #fff;
}
.choices__list::-webkit-scrollbar-thumb{
    background-color: #00507f;
}
.checkbox_label{
    position: relative;
    cursor: pointer;
    margin-top: 12px;
}
.checkbox_label input{
    position: absolute;
    display: none;
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 10px;
    background-color: #fff;
    position: relative;
}
.checkbox_label input[type="checkbox"]:checked + .checkbox::after{
     content: '';
    display: block;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    width: 7px;
    height: 5px;
    margin-bottom: 3px;
    transform: rotate(-45deg);
}
/* end calc-section */

/* stages_section */
.stages_section{
    margin-top: 60px;
    padding: 60px 0;
    background-color: #edf7ff;
}
.stages_section .section_title{
    margin-bottom: 60px;
}
.stages_item{
    width: 260px;
}
.stages_item .item_circle span{
    font-size: 18px;
}
.stages_item .img-circle{
    background-color: #00507f;
    border: none;
    color: #fff;
}
.stages_flex_block{
    display: flex;
}
.stages_flex_block .item_circle{
    position: relative;
}
.arrow_stages{
    position: absolute;
    right: -20%;
    top: 50%;
}
.arrow_stages_two{
    top: 15%;
}
.circle_bottom{
    margin-top: 60px;
}
.circle_bottom .img-circle{
    margin-bottom: 0;
    margin-top: 30px;
}
.img_margin_left{
    margin-left: 10px;
}
/* end stages_section */
/* reviews_section */
.reviews_section{
    padding: 60px 0;
}
.review_section-title{
    text-transform: none;
    margin-bottom: 1em;
  }
  .reviews_section .reviwe_slider{
    margin-top: 60px;
  }
  .reviwes_block{
    padding: 25px 15px 0;
    width: 332px;
    height: 230px;
    background-color: #edf7ff;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    margin: 0 10px;
    color: #00507f;
  }
  .reviwe-title{
    font-weight: 600;
    font-size: 14px;
  }
  .reviwe-title a{
    border-bottom: 1px solid #919090;
  }
  
  .reviwes_block .photo{
     width: 50px;
     height: 50px;
     border-radius: 50%;
  }
  .star-img{
     width: 18px;
  }
  .reviwe-text{
    font-size: 16px;
  }
  .flex-stars{
     display: flex;
     margin-top: 5px;
  }
  .date-reviwe{
     color: #00507f;
  }
  
  .reviwe-header{
     display: flex;
     gap: 15px;
     height: 65px;
     margin-bottom: 20px;
     align-items: center;
  }
  .overflow-block{
     overflow: hidden;
     height: 65px;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
  }
  .read-compete{
     color: #00507f;
     font-size: 13px;
     cursor: pointer;
     transition: all .3s;
  }
  .read-compete:hover{
    color: #ec004f;
  }
.reviwe_slider .slick-track{
    justify-content: space-between;
    padding: 10px 0;
    align-items: flex-start;
  }
  .reviwe_slider .slick-disabled{
    opacity: 0.4;
  }
  .reviwe_slider{
    position: relative;
    padding: 0 35px;
    display: flex;
  }
  .reviwe_slider .slick-arrow{
    position: absolute;
    font-size: 0;
    width: calc(25px + 8*(100vw / 1440));
    height: calc(25px + 8*(100vw / 1440));
    cursor: pointer;
    border: none;
    z-index: 10;
  }
  .reviwe_slider .slick-prev{
    background: url(/local/templates/vavisgroup/css/../img/icons/types/arrow.svg)0 0 / 100%;
    background-repeat: no-repeat;
    
  }
  .reviwe_slider .slick-next{
    background-repeat: no-repeat;
    background: url(/local/templates/vavisgroup/css/../img/icons/types/arrow.svg)0 0 / 100%;
  
  }
  .reviwe_slider .slick-dots{
    position: absolute;
    bottom: -20px;
  }
  .reviwe_slider .slick-dots .slick-active{
    border: 2px solid #AC9171;
    background-color: #FFFFFF;
  }
  .reviwe_slider .slick-dots li{
    background-color: #AC9171;
    width: calc(6px + 4*(100vw / 1440));
    height: calc(6px + 4*(100vw / 1440));
  }
  .reviwe_slider .slick-slide{
   margin: 0 10px;
  }
  .link-reviwe{
    margin-top: 15px;
    margin-bottom: 15px;
 }
 .link-reviwe a{
    color: #00507f;
    font-size: 12px;
    border-bottom: 1px solid #919090;
    transition: all .3s;
 }
 .link-reviwe a:hover{
    color: #ec004f;
    border-bottom: none;
 }
/* end reviews_section */
/* certificate_section */
.certificate_section{
    padding: 60px 0;
    background-color: #00507f;
}
.certificate_section .section_title{
    color: #fff;
    margin-bottom: 60px;
}
.wrapp_certificate_slide{
    overflow: hidden;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
.certificate_slide{
    display: flex;
    justify-content: center;
    gap: 40px;
}


.certificate_slide .fade{
    animation: fade linear .2s;
}
@keyframes fade{
    0%{
        transform: translateX(-166px);
    }
    100%{
        transform: translateX(0px); 
    }
}
.certificate_slide .fade_two{
    animation: fade_two linear .2s;
}
@keyframes fade_two{
    0%{
        transform: translateX(-166px);
    }
    100%{
        transform: translateX(0px);
    }
}
.certificate_slide .fade_free{
    animation: fade_free linear .2s;
}
@keyframes fade_free{
    0%{
        transform: translateX(166px);
        
    }
    100%{
        transform: translateX(0px);
        
    }
}
.certificate_slide .fade_five{
    animation: fade_five linear .2s;
}
@keyframes fade_five{
    0%{
        transform: translateX(166px);
        
    }
    100%{
        transform: translateX(0px);
      
    }
}
.arrow_left{
    display: block;
    border: 20px solid transparent; 
    border-right: 20px solid #fff;
    position: absolute;
    left: -20px;
    top: 40%;
    height: 0;
    width: 0;
    transition: all .2s;
    cursor: pointer;
}
.arrow_left:hover{
    border-right: 20px solid #ec004f;
}
.arrow_right{
    /* content: ''; */
    display: block;
    border: 20px solid transparent; 
    border-left: 20px solid #fff;
    position: absolute;
    right: -20px;
    top: 40%;
    height: 0;
    width: 0;
    cursor: pointer;
}
.arrow_right:hover{
    border-left: 20px solid #ec004f;
}
/* end certificate_section */

/* questions_section */
.questions_section{
    padding: 60px 0;
    /* margin-top: 60px; */
    background-color: #66b3e2;
}
.questions_section .section_title{
    margin-bottom: 60px;
}
.questions_section .section_title{
    color: #fff;
}
.questions_item{
    width: 100%;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}
.questions_header::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border: 15px solid transparent; 
    border-left: 15px solid #ec004f;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    cursor: pointer;
    transition: transform .3s;
    transform-origin: 15% 50% 0;
    font-size: 25px;
    transform: rotate(180deg);
}
.questions_item .active::after{
    transform: rotate(90deg);
}
/* .questions_item .is-active{
    transform: rotate(90deg);
} */
.questions_header{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 55px;
    padding: 0 100px;
    cursor: pointer;
    position: relative;
}
.questions_answers{
    padding: 0 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #edf7ff;
    width: 70%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: .35s;
}
.questions_section .hide{
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
}
/* end questions_section */

/* application_section */
.application_section{
    padding: 60px 0;
    background-color: #00507f;
}
.application_section .section_title{
    color: #fff;
}
.options_block{
    display: flex;
    justify-content: space-around;
    max-width: 950px;
    margin: 55px auto;
}
.options_item{
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: 18px;
}
.options_item::before{
    content: '\1D7CF';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ec004f;
    color: #fff;
}
.phone_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 5px 20px;
    max-width: 270px;
    border: 1px solid #fff;
    color: #fff;
    justify-content: center;
    max-height: 70px;
}
.phone_block a{
    margin-top: 5px;
    font-size: 28px;
    font-weight: 500;
    transition: .2s
}
.phone_block a:hover{
    color: #ec004f;
}
.application_input_block{
    display: flex;
    justify-content: space-between;
}
.input_block .title_input{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}
.input_block .form_group{
    display: flex;
    flex-direction: row;
}
.input_block .form_group .form_control{
    margin-right: 30px;
    width: 230px;
    height: 38px;
    position: relative;
    padding-left: 20px;
}
.input_block .main_btn{
    max-width: 260px;
    padding: 0 40px;
}
.input_block .checkbox_label{
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin-top: 50px;
}
.input_block .checkbox{
    top: -4px;
}
.checkbox_label .checkbox_text{
    font-size: 16px;
}
.checkbox_label .checkbox_text a{
    font-size: 16px;
}
.application_form input::placeholder{
    opacity: 0.7;
}
.application_label::before{
    content: '\273B';
    display: block;
    color: red;
    font-size: 10px;
    position: absolute;
    z-index: 1;
    margin-left: 5px;
    margin-top: 5px;
}
/* end_application_section */

/* map */
.map_section{
    margin: 20px 0;
}
.wrapp_contact_map{
    position: absolute;
    transform: translate(10%, -50%);
    top: 50%;
    z-index: 1;
}
.wrapp_contact_map::before{
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 300px;
    background: rgb(255, 255, 255);
    left: -60px;
    border: 2px solid #ec004f;
    border-right: 2px solid transparent;
}
.map_contact_section{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 300px;
    background: rgb(255, 255, 255);
    transform: skew(-20deg);
    border: 2px solid #ec004f;
    border-left: 2px transparent;
}
/* .map_contact_section::after{
    content: '';
    border: 2px dashed #00507f;
    margin-left: 90px;
} */
.container_block_contact_map{
    display: flex;
    transform: skew(20deg);
    gap: 70px;
    padding: 50px 0;
}
.container_block_contact_map .social_media{
    flex-direction: column;
    gap: 13px;
}
.container_block_contact_map .social_media li a{
    width: 35px;
    height: 35px;
    background-color: #00507f;
    transition: all .3s;
}
.container_block_contact_map .social_media li a:hover{
    background-color: #ec004f;
}
/* .block_contact{
    padding: 50px 0;
} */
.block_contact img{
    max-width: 30px;
}
.block_contact .flex_phone a{
    color: #00507f;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: all .3s;
}
.block_contact .flex_phone a:hover{
    color: #ec004f;
}
.block_contact .number_phone img{
    margin-bottom: 20px;
}

.block_contact .email{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.block_contact .email a{
    color: #00507f;
    font-size: 21px;
    font-weight: 500;
    transition: all .3s;
}
.block_contact .email a:hover{
    color: #ec004f;
}
.block_contact .block_address{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #00507f;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
}
.block_contact .schedule{
    display: flex;
    gap: 20px;
    color: #00507f;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ymaps-2-1-79-map-copyrights-promo{
    display: none;
}
.ya_map {
	font-family: arial;
	font-size: 12px;
	color: #454545;
}
 
#map {
    position: relative;
	width: 100%;
	height: 340px;
}
/* end map */

/* footer_section */
.footer_section{
    padding: 60px 0;
    background-color: #00507f;
}
.wrapp_footer_info{
    display: flex;
    justify-content: space-between;
}
.wrapp_footer_info .footer_menu{
   padding: 15px 10px 0 10px;
   max-width: 220px;
   flex: 20% 0 0;
   white-space: nowrap;
}
.block_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 60px;
    padding-top: 15px;
}
.block_info .social_media{
    margin: 20px 0;
}
.block_info .block_connection{
    align-items: flex-start;
}
.block_info .social_media a{
    width: 30px;
    height: 30px;
}
.block_info .block_connection{
    padding-left: 0;
}
.block_info .email{
    margin: 30px 0;
}
.block_info .main_btn{
    /* max-width: 165px; */
    text-transform: none;
    letter-spacing: -1px;
}
.block_link{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
}
.footer_menu_title{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.footer_menu ul{
    line-height: 170%;
}
.footer_menu ul li a{
    transition: all .2s;
}
.footer_menu ul li a:hover{
    color: #ec004f;
}
/* end footer_section */


/* modal_section */
.modal{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: fade .6s;
    z-index: 100;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.modal_fade{
    animation: fades .6s;
}
@keyframes fades {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.popup_content{
    max-width: 700px;
    background-color: #edf7ff;
    border: 4px solid #00507f;
    margin: auto;
    transform: translate(0, 20%);
    padding: 70px 50px;
}
.popup_content .section_title{
    font-size: 28px;
}
.popup_content .section_title small{
    font-size: 18px;
}
.popup_content .options_block{
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.popup_content .options_item{
    color: #000;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    align-items: flex-end;
}
.popup_content .form_group{
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}
.popup_content .form_group .form_control{
    padding-left: 15px;
    width: 250px;
}
.close{
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    transition: color .3s;
    text-shadow: none;
    cursor: pointer;
    z-index: 20;
}
.close::before{
    content: '\2573';
    display: block;
    color: #898787;
    font-weight: 900;
    font-size: 16px;
}
.popup_content .checkbox_label{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.popup_content .checkbox{
    border: 1px solid #00507f;
    top: -5px;
}
.popup_content .checkbox_text a{
    color: #000;
}
.popup_content .main_btn{
    display: block;
    margin: 60px auto 0;
}
/* end modal_section */








@media only screen and (max-width: 1199px){
    .container{
        max-width: 960px;
    }
    .social_media{
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(2, 34px);
        grid-gap: 4px 7px;
    }
    .block_phone{
        margin-right: auto;
    }
    .block_phone a{
        font-size: 18px;
    }
    .wrapp_btn_head{
        margin-left: 13px;
    }
    .main_header-right_col{
        padding-left: 3%;
    }
}
@media only screen and (max-width: 991px){
    .container{
        max-width: 760px;
    }
    .wrapp_btn_head{
        flex-direction: row;
    }
    .social_media{
        display: flex;
        flex-wrap: nowrap;
        max-width: none;
        margin-right: 30px;
    }
    .wrapp_btn_head{
        margin-left: 0;
        margin-top: 10px;
    }
    .block_phone a{
        font-size: 24px;
    }
    .main_header-left_col{
        flex-direction: column;
    }
    .navigation_wrapp{
        font-size: 14px;
    } 
    .main_header-right_col{
        max-width: 450px;
    }
}
@media only screen and (max-width: 767px){
    .container{
        max-width: 570px;
    }
    .burger_box{
        display: flex;
    }
    .block_connection{
        flex-direction: row;
        align-items: center;
    }
    .block_connection a{
        font-size: 18px;
    }
    .social_media{
        display: none;
    }
    .main_header-center_col{
        display: none;
    }
    .main_header-center_col{
        display: none;
    }
    .main_header{
        padding: 16px 0
    }
    .head_nav_panel{
        height: 100vh;
        overflow: auto;
        position: relative;
    }
    .nav_menu{
        flex-direction: column;
    }
    .nav_menu .nav_item_hover:hover > .dropdown-menu{
        position: static;
    } 
    .navigation_wrapp{
        padding-top: 15vh;
    }
    .dropdown-menu{
        position: static;
        flex-direction: column;
    }
    .nav_item_hover{
        text-align: center;
    }
    .nav_menu .parent::after{
        top: 4px;
        right: -15px;
        width: 5px;
        height: 5px;
        bottom: auto;
    }
    .nav_menu .nav_item:hover{
        background-color: transparent;
    }
    
}